* {
    color: aliceblue;
}

body {
    background-image: url(/images/Windows-11-Bloom-Screensaver-Dark-scaled.jpg);
    background-size: cover;
}
.calculator-container {
    background-color: #1B1F32;
    width: 400px;
    height: 570px;
    margin: auto;
    border-radius: 9px;
    
}

.window-buttons {
    height: 5%;
    background-color: #3d456b;
    border-radius: 9px 9px 0px 0px;
}

.historical-type {
    height: 10%;
    background-color: #283575;
}

.screen {
    height: 20%;
    background-color: #001fbd;
    font-size: xxx-large;
    justify-items: end;
    
}

.advanced-functions {
    background-color: #283575;
    height: 5%;
}

.basic-operators {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0px 0px 9px 9px;    
}

.basic-operators-buttons-breaker {
    width: 99%;
    height: 15.5%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.basic-operators-button {
    flex-wrap: wrap;
    background-color: #2D3145;
    width: 24%;
    height: 100%;
    text-align: center;
    justify-self: center;
    border-radius: 5px;
}