* {
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url(../images/Windows-11-Bloom-Screensaver-Dark-scaled.jpg);
    background-size: cover;
    display: flex;
    margin-top: 40px;

}
.calculator-container {
    background-color: #1B1F32;
    width: 400px;
    height: 570px;
    margin: auto;
    border-radius: 9px;
}

.window-buttons {
    height: 5%;
    background-color: #3d456b;
    border-radius: 9px 9px 0px 0px;
}

.historical-type {
    height: 8%;
}

.screen {
    height: 15%;
    background-color: #1B1F32;
    font-size: xxx-large;
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 10px;


    
}

.advanced-functions {
    height: 3%;
}
    
.advanced-functions-wrapper {
    height: 75%;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    font-size: smaller;
    cursor:not-allowed;

}

.basic-operators {
    height: 64%;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 9px 9px;
    margin-top: 3px;
}

.basic-operators-buttons-breaker {
    width: 99%;
    height: 15.5%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.basic-operators-button {
    background-color: #2D3145;
    width: 24%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.basic-operators-button:hover {
    background-color: #393e53;
}